<footer>
    <div class="location">
        <h2>Localização</h2>
        <hr>
        <div class="address">
            <div id="address-1">
                <h4>São Paulo</h4>
                <p>
                    Rua do Rócio, 423/1801 </br>
                    Vila Olímpia - SP </br>
                    04552-000 </br>
                    +55 11 3333 3333
                </p>
            </div>
            <div id="address-2">
                <h4>Rio de Janeiro</h4>
                <p>
                    Vol. da Pátria, 301/702 </br>
                    Botafogo - RJ </br>
                    22270-000 </br>
                    +55 21 3333 3333
                </p>
            </div>
        </div>
    </div>
    <div class="contact">
        <div>
            <button>
                <i class="fa fa-fw fa-envelope"></i>
                ENTRE EM CONTATO
            </button>
        </div>
        <div>
            <button>
                <i class="fa fa-fw fa-headphones"></i>
                    FALE COM O NOSSO </br>
                    CONSULTOR ONLINE
            </button>
        </div>
    </div>
    <div class="copyright">
        <div id="created">
            <p>Created by</p>
            <img src="../../static/img/logo-branca.png" alt="Profit-e">
        </div>
        <div id="powered">
            <p>Powered by</p>
            <img src="../../static/img/vtex.png" alt="Vtex">
        </div>
    </div>
</footer>