@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background: #ffffff;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
    background: #dadada;
    width: 6px;
    box-shadow: inset 0 0 5px #000000; 
}

::-webkit-scrollbar-thumb:hover {
    background: #7A7A7A; 
}

.container {
    height: 50vh;
}

/* navbar */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh;
}

.navbar-brand {
    display: flex;
    width: 7vw;
    padding-left: 15vh;
    padding-right: 10vh;
}

.search {
    display: flex;
    flex-direction: row;
}

form{
    border-bottom: 1px solid #7A7A7A;
}

input {
    color:#7A7A7A;
    border: none;
    width: 17.5vw;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    padding-right: 0;
}

.language {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-self: center;

    width: 18vh;
    padding-left: 2vw;
}

.language hr {
    width: 20px;
    border: 1px solid #7A7A7A;
    transform: rotate(90deg);
}

.sidepanel {
    display: none;
}

.openbtn {
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 4vh;
    }

    .navbar-brand {
        order: 1;
        width: 30vw;
        padding-left: 3vh;
    }

    .shopping-cart {
        order: 2;
    }
    
    .search {
        order: 3;
    }

    input {
        padding-top: 2.5vh;
        width: 70vw;
    }

    .profile {
        display: none;
    }

    .language {
        display: none;
    }

    /* menu lateral */

    .sidepanel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        background: #ffffff;
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        top: 0;
        left: 0;
        padding-top: 1.5vh;
        transition: 0.5s;
        display: flex;

    }

    .sidepanel a {
        padding: 2vh 3vw 2vh 5vw;
        text-decoration: none;
        font-size: 7vw;
        color: #000000;
        transition: 0.3s;
    }

    .sidepanel .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 7vh;
        margin-left: 50px;
    }

    .openbtn {
        display: block;
        background: #ffffff;
        color: #000000;
        font-size: 4vh;
        text-align: start;
        padding: 3vh 6vw;
        border: none;
        width: 20vw;
    }
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    background: #011627;
    color: #ffffff;
    border-bottom: 1.8vh solid #2EC4B6;
}

.location {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    padding-bottom: 1.5vh;

    font-weight: 700;
}

.location hr {
    width: 3vw;
    margin-left: 0;
    background: #ff9f1c;
    border: 0.5vh solid #FF9F1C;
}

.address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-weight: 400;
}

#address-2 {
    padding-left: 2vw;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 14vh;
}

.contact button {
    background: #FF9F1C;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;

    width: 14vw;
    height: 5.5vh;
    margin-bottom: 3vh;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    
    font-size: 12px;
    padding-bottom: 4.5vh;
}

.copyright img {
    width: 4vw;
}

#created {
    display: flex;
    flex-direction: column;
}

#created p {
    padding-bottom: 0.6vh;
}

#powered {
    display: flex;
    flex-direction: column;

    padding-left: 1.5vw;
}

@media screen and (max-width: 768px) {
    footer {
        border-bottom: 1.5vh solid #2EC4B6;
    }

    .location hr {
        width: 10vw;
        border: 0.3vh solid #FF9F1C;
    }

    .address p {
        font-size: 14px;
    }

    #address-2 {
        padding-left: 5vw;
    }

    .contact {
        padding-top: 3vh;
    }

    .contact button {
        width: 60vw;
        height: 6vh;
        margin-bottom: 3vh;
    }
    
    .copyright {
        font-size: 12px;
        padding-bottom: 3vh;
    }
    
    .copyright img {
        width: 18vw;
    }
    
    #powered {
        padding-left: 20.5vw;
    }
}